html,
body {
  height: 100%;
}
#app {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  padding: 10px;
  font-size: 20px;
}

.active {
  font-weight: bold;
}

.card-product {
  border-radius: 15px;
}

.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-width: none;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: black;
}

.img-fluid {
  border-radius: 15px;
}

#app {
  min-height: 100%;
  position: relative;
  padding-bottom: 40px;
}

footer {
  height: 50px;
  line-height: 50px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.tombol {
  border: none;
  background-color: transparent;
}

.btn {
  background-color: teal;
  color: white;
  border: none;
}

.btn:hover {
  background-color: darkcyan;
  color: white;
}

.badge {
  background-color: teal;
}
